body {
    background: #111;
    color: white;
    width: 70rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    margin: 15rem 0;
}

.center p {
    font-size: 20px;
    text-decoration: underline yellow 3px;
}

a {
    background: yellow;
    color: black;
    text-decoration: none;
    transition: 500ms;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

a:hover {
    opacity: 75%;
}